body {
  /*Amanda Bispo 3D 29/08/2024*/
    color:grey;
    background: rgb(255, 192, 218);
    margin: 0px;
    font-family: "DM Serif Text", serif;
    margin-bottom: 50px;
}
header {
border-bottom: solid 2px rgb(235, 130, 163); 
padding: 20px;
font-size: 50px;
color: rgb(228, 42, 150);
}

.chamada {
background:rgb(230, 155, 178);
padding-bottom: 80px; 
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 45px;
  }

  p {
    font-size: 20px;
  }

  img {
    height: 150px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }


.categoria-videos img { 
  opacity: 0.5; 
  height: 150px;
}

.categoria-videos img:hover {
opacity: 1;
border: 1px solid purple;
}

.categoria h2 {
  color: rgb(228, 42, 150);
  /*Amanda Bispo 3D 29/08/2024*/
}
